<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>redditwatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>watchapp (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>watchapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE24067E1FEA742F00D92A34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE2406921FEA743000D92A34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE24069D1FEA743000D92A34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE2406B11FEA744300D92A34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
